<div class="row">
  <div class="col-2 pull-left">
    <%= form_with(model: chat_room, local: true) do |form| %>
      <% if chat_room.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(chat_room.errors.count, "error") %> prohibited this chat_room from being saved:</h2>

          <ul>
            <% chat_room.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="m-1">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="m-1">
        <%= form.label 'Members' %>
        <%= form.select :member_ids,
                        options_for_select(members.map { |u| [u.email, u.id] }, chat_room.member_ids), {},
                        { multiple: true, class: 'chosen-select', placeholder: 'Select members' } %>
      </div>

      <div class="m-1">
        <%= form.button "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>
<script>
  $(document).ready(function(){
      $(".chosen-select").chosen();
  })
</script>