<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="">
      <%= link_to  'Home', root_path, class: 'btn btn-primary' %>
      <% if user_signed_in? %>
        <%= link_to  'All Users', users_path, class: 'btn btn-primary' %>
        <%= link_to  'All Chats', chat_rooms_path, class: 'btn btn-primary' %>
        <%= link_to  'Logout', destroy_user_session_path, class: 'btn btn-primary', method: :delete %>
      <% end %>
    </div>
    <div class='center-block'>
      <%= yield %>
    </div>
  </body>
</html>
